{{!< webpanel}}
<a href="#">Problem {{problem.displayName}}</a>
Status: {{problem.status}}<br>
Severity Level: {{problem.severityLevel}}<br>
Impact Level: {{problem.impactLevel}}<br>
Root Cause Detected: {{problem.hasRootCause}}
