{{!< webpanel}}
<b><a href="{{tenant}}/#problems/problemdetails;pid={{problem.id}}">{{problem.displayName}}: {{problem.title}}</a><br></b>
<div class="pills">
    <span class="aui-lozenge aui-lozenge-{{#if problem.closed}}success{{else}}error{{/if}}">{{problem.status}}</span>
    {{#if problem.hasRootCause}}
    <span class="aui-lozenge aui-lozenge-current">Root Cause Detected</span>
    {{/if}}
</div>
<div class="eventsOnComponents">
    <h6>{{problem.rankedEvents.length}} events on {{problem.numEntitiesAffected}} components</h6>
</div>
<strong>Severity</strong>
{{problem.severityLevelName}}<br>
<strong>Impact</strong>
{{problem.impactLevelName}}<br>

<div class="tags">
    {{#each problem.topTags}}
        <a target="_parent" class="aui-label" href="{{this.link}}">{{this.key}}</a>
    {{/each}}
    {{#if problem.manyTags}}
    ...
    {{/if}}
</div>
