{{!< webpanel}}
<a href="{{tenant}}/#problems/problemdetails;pid={{problem.id}}">Problem {{problem.displayName}}</a><br>
Status: {{problem.status}}<br>
Severity Level: {{problem.severityLevel}}<br>
Impact Level: {{problem.impactLevel}}<br>
Root Cause Detected: {{problem.hasRootCause}}
